body {
    font-family: Arial, sans-serif;
}

.main_header {
    text-align: center;
    line-height: 1.5em;
}

.main_header a {
    text-decoration: none;
}

.main_header .title {
    font-size: 2.5em;
    line-height: 1.5em;
}

.main_wrapper {
    padding: 4em;
}